.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &__item {
    margin: 10px;
    position: relative;
    height: calc(100vh / 3 - 26px);
    width: calc(100% - 20px);
    @media (min-width: 768px) {
      width: calc(50% - 20px);
      height: calc(50vh - 30px);
    }

    .background {
      position: absolute;
      &:after {
        content: '';
        background-color: rgba($black, 0.5);
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &-desc {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      left: 20px;
      right: 20px;
      bottom: 20px;
      top: 20px;
      border: 2px solid $light-grey;
      opacity: 0;
      @include transition();
      transform: scale(0.9);

      h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        @include transition();
        color: $light-grey;
        transform: translateY(-200%);
        margin-top: 0;
      }
      p {
        @include transition();
        transform: translateY(200%);
        margin-bottom: 0;
      }
    }

    a {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    &:hover {
      figcaption {
        opacity: 1;
        transform: scale(1);
        h2, p {
          transform: translateY(0);
        }
      }
    }
  }
}
