@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.woff2') format('woff2');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@mixin rectangle($width, $height) {
    width: $width;
    height: $height;
}

@mixin square($size) {
    @include rectangle($size, $size);
}

@mixin transition($property: all, $duration: 0.15s, $easing: ease-out) {
    transition: $property $duration $easing;
}

@mixin scale($ratio) {
    transform: scale($ratio);
}
