@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.woff2') format('woff2');
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

$blue: #171e42;

@include font-face('Jaapokki', '/fonts/jaapokki-regular', normal, normal);
@include font-face('Kontanter', '/fonts/kontanter', normal, normal);
